@use '../../utils' as *;

.re {
	&-Main {
		&-ContactSection {
			padding: 1rem;
			margin: 0 0 3rem 0;
			color: var(--logo-clr);
			text-align: center;
		}
	}

	&-ContactSection {
		&-content {
			margin-top: 5.5rem;
			margin-bottom: 2rem;
			transition: 0.3s all ease-in-out;
		}

		&-title {
			margin: 0 0 0.5rem 0;
			font-size: 3rem;

			@include mediaQuery(648px) {
				font-size: 2.5rem;
			}
		}

		&-subTitle {
			margin: 0;
			font-size: 1.5rem;
			font-weight: var(--font-semi-bold);
		}

		&-bodyContent {
			display: grid;
			max-width: toRem(1450);
			margin: 0 auto;
			grid-template-columns: repeat(2, 1fr);

			@include mediaQuery(768px) {
				grid-template-columns: 1fr;
				gap: 2rem;
			}
		}

		&-column {
			&Title {
				margin-bottom: 1.5rem;
				font-size: 1.8rem;
			}
		}

		&-LayoutGrid {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 1.5rem;

			@include mediaQuery(640px) {
				margin-top: 1rem;
			}
		}

		&-wrapForm {
			@include mediaQuery(640px) {
				margin-top: 1rem;
			}
		}
	}

	&-ContactForm {
		width: 90%;
		margin-right: auto;
		margin-left: auto;
		display: flex;
		flex-direction: column;

		@include mediaQuery(768px) {
			width: 80%;
		}

		&-field {
			position: relative;
			display: flex;
			flex-direction: column;
			margin: 1rem 0;
		}

		&-label {
			position: absolute;
			top: -15px;
			left: 15px;
			padding: 0.3rem;
			font-weight: var(--font-medium);
			background-color: var(--bg-clr);
		}

		&-input {
			padding: 1rem;
			border-radius: 12px;
			color: var(--logo-clr);
			border-color: var(--border-clr);
			background-color: var(--bg-clr);
			font-size: 1rem;
			line-height: 1.4;

			/** Invalid Form Inputs **/
			&:focus {
				outline: none;
			}

			&:not(:focus):not(:placeholder-shown):invalid {
				border-color: var(--error-clr);
			}

			&:not(:focus):not(:placeholder-shown):invalid
				~ .re-ContactForm-errorMessage {
				display: block;
			}

			&:not(:focus):not(:placeholder-shown):valid {
				border-color: var(--border-clr);
			}
		}

		&-textArea {
			padding: 1rem;
			border-radius: 12px;
			border-width: 2px;
			border-color: var(--border-clr);
			min-height: 15rem;
			font-size: 1.1rem;
			color: var(--logo-clr);
			background-color: var(--bg-clr);

			&:focus {
				outline: none;
			}
		}

		&-errorMessage {
			color: var(--error-clr);
			margin-top: 0.5rem;
			display: none;
		}
		&-wrapButton {
			margin-top: auto;
			text-align: left;
			@include mediaQuery(1024px) {
				text-align: center;
			}
		}
	}

	&-ContactCard {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-width: 25rem;
		min-height: 10rem;
		padding: 1rem;
		align-items: center;
		color: var(--title-clr);
		border-radius: 12px;
		background-color: var(--bg-clr-dark);

		@include mediaQuery(482px) {
			min-width: 15rem;
		}

		&-icon {
			cursor: pointer;
			max-width: max-content;
			transition: 0.3s all ease-in-out;

			&:hover {
				transform: scale(1.1);
			}
		}

		&-title {
			margin: 0;
		}
		&-text {
			margin: 0.3rem 0;
		}
		&-wrapButton {
			margin-top: 0.5rem;
		}
	}
}
