@use '../utils' as *;

.u- {
	/** Icons Utilities **/
	&xl {
		width: 2.3rem;
	}

	&lg {
		width: 1.8rem;

		@include maxMediaQuery(964px) {
			width: 1.5rem;
		}
	}

	&md {
		width: 1.3rem;
	}

	&mdFs {
		font-size: 1.3rem;
	}

	&base {
		width: 1.1rem;
	}
	&mt {
		margin-top: 0.2rem;
	}
}
