<div class='re-ModalCV'>
	<div class='re-ModalCV-wrapButtons'>
		<a
			aria-label='Download my CV in Spanish'
			href='/assets/cvs/spanish_cv.pdf'
			class='re-ModalCV-link'
			download='ronald_torres_spanishCV'
		>
			Spanish
		</a>
		<a
			aria-label='Download my CV in English'
			href='/assets/cvs/english_cv.pdf'
			class='re-ModalCV-link'
			download='ronald_torres_EnglishCV'
		>
			English
		</a>
	</div>
</div>
