---
import NavbarCV from './NavbarCV.astro';
import NavbarIcon from './NavbarIcon.astro';
import NavbarList from './NavbarList.astro';
---

<nav class='re-Navbar'>
	<NavbarList />

	<NavbarCV />

	<NavbarIcon />
</nav>
