---
const year = new Date().getFullYear();
---

<footer class='re-Footer' id='re-Footer'>
	<div class='re-Footer-head'>
		<div class='re-Footer-content'>
			<h1 class='re-Footer-title'>Ronald Torres</h1>
			<h2 class='re-Footer-subTitle'>Front End Developer</h2>
		</div>
		<div class='re-Footer-enjoyer'>
			<span>React Enjoyer</span>
		</div>
	</div>
	<div class='re-Footer-legal'>
		<div class='re-Footer-disclaimer'>
			<p class='re-Footer-disclaimerTitle'>
				©{year} Ronald Torres. All rights reserved
			</p>
		</div>
	</div>
</footer>
