---
import Hamburger from './Hamburger.astro';
import Navbar from './Navbar/Navbar.astro';
---

<header class='re-Header' id='re-Header'>
	<div class='re-Header-wrapNavbar'>
		<h1 class='re-Header-logo'>Ronald Torres</h1>
		<Navbar />
		<Hamburger />
	</div>
</header>
