---
import ContactSection from './Sections/Contact/ContactSection.astro';
import HomeSection from './Sections/Home/HomeSection.astro';
import ProjectsSection from './Sections/Projects/ProjectsSection.astro';
import SkillsSection from './Sections/Skills/SkillsSection.astro';
---

<main class='re-Main' id='re-Main'>
	<HomeSection />
	<SkillsSection />
	<ProjectsSection />
	<ContactSection />
</main>
