@use '../../utils' as *;

.re- {
	&Main-ProjectsSection {
		margin: 0 auto 3rem auto;
		text-align: center;

		@include minMediaQuery(824px) {
			padding: 0 1rem;
		}
	}
	&ProjectsSection {
		&-content {
			padding-top: 6.5rem;
			margin-bottom: 2rem;
			color: var(--logo-clr);
			transition: 0.3s all ease-in-out;
		}

		&-title {
			margin: 0 0 0.5rem 0;
			font-size: 3rem;

			@include maxMediaQuery(640px) {
				font-size: 2.5rem;
			}
		}

		&-subtitle {
			margin: 0;
			font-size: 1.5rem;
			font-weight: var(--font-semi-bold);
		}

		&-wrapProjects {
			display: grid;
			margin-right: auto;
			margin-left: auto;
			grid-template-columns: repeat(2, 1fr);
			grid-auto-rows: minmax(250px, auto);
			gap: 2rem;
			padding: 0 1rem;

			@include maxMediaQuery(464px) {
				width: 100%;
				grid-template-columns: 1fr;
			}

			@include minMaxMediaQuery(464px, 612px) {
				grid-template-columns: 80%;
				justify-content: center;
			}

			@include minMaxMediaQuery(612px, 824px) {
				grid-template-columns: 70%;
				justify-content: center;
			}
		}

		&-wrapProjectCard {
			border-radius: 0.6rem;
			background-color: var(--bg-clr-dark);
			box-shadow: var(--card-shadow);
			overflow: hidden;

			&:hover .re-ProjectCardModal {
				bottom: 0;
			}
		}
	}

	&ProjectCard {
		&-wrapImage {
			height: 100%;
			box-shadow: var(--box-shadow);
		}

		&-image {
			border-bottom-right-radius: 0.8rem;
			border-bottom-left-radius: 0.8rem;
			box-shadow: var(--image-shadow);
			display: block;
		}

		&-content {
			color: var(--title-clr);
			padding: 2rem 1.5rem;
			transition: 0.3s all;
		}

		&-wrapBody {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&-Title {
			font-size: 1.65rem;
			line-height: 1.75rem;

			@include maxMediaQuery(464px) {
				font-size: 1.5rem;
			}
		}

		&-wrapLinks {
			display: flex;
			align-items: center;
			gap: 1rem;

			@include maxMediaQuery(464px) {
				gap: 0.5rem;
			}
		}

		&-link {
			margin: 0.3rem 0 0 0;
		}

		&-wrapIcon {
			font-size: 1.45rem;
			transition: 0.2s color ease-in-out;
			& > svg {
				display: block;
				text-align: center;
			}

			@include maxMediaQuery(464px) {
				font-size: 1.25rem;
			}

			&:hover {
				color: var(--primary-clr);
			}
		}

		&-Description {
			margin: 0.7rem 0;
			text-align: left;

			@include maxMediaQuery(464px) {
				font-size: 0.95rem;
			}
		}

		&-wrapTools {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}

		&-tool {
			margin-right: 0.5rem;
			margin-bottom: 0.5rem;
			padding: 0.5rem 1rem;
			border: 1px solid var(--title-clr);
			border-style: dotted;
			border-radius: 9999px;
			font-size: 0.85rem;

			@include maxMediaQuery(464px) {
				font-size: 0.8rem;
			}
		}
	}
}