---
import Button from '../../Button.astro';
---

<section class='re-Main-HomeSection' id='re-HomeSection'>
	<div class='re-HomeSection-wrapAvatar'>
		<img
			class='re-HomeSection-avatar'
			src='/assets/profile/profilePic.webp'
			alt='Profile Picture'
		/>
	</div>
	<div class='re-HomeSection-content'>
		<h1 class='re-HomeSection-title'>Hi I'm Ronald Torres</h1>
		<h2 class='re-HomeSection-subTitle'>Junior Front End Developer</h2>
		<p class='re-HomeSection-description'>
			A Front End Developer and CS Student with experience in web development
			that enjoys web technologies.
		</p>
	</div>

	<a class='re-HomeSection-wrapButton' href='#re-ContactSection'>
		<Button
			text='CONNECT WITH ME'
			iconName='send-outlined'
			iconPackName='ant-design'
			iconUtility='u-md'
		/>
	</a>
</section>
