@use '../utils' as *;

.re-Footer {
	padding: 1rem 2rem;
	text-align: center;
	background-color: var(--bg-clr);
	box-shadow: var(--box-shadow);

	@include mediaQuery(640px) {
		padding: 1rem;
	}

	&-head {
		max-width: var(--mx-w-footer);
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: var(--title-clr);

		@include mediaQuery(640px) {
			flex-direction: column;
			margin-bottom: 1rem;
		}
	}

	&-content {
		color: var(--logo-clr);
		transition: 0.3s all ease-in-out;

		@include mediaQuery(640px) {
			margin-bottom: 1rem;
		}
	}

	&-title {
		margin: 0;

		@include mediaQuery(640px) {
			font-size: 2rem;
		}
	}

	&-subTitle {
		margin: 0;
		font-size: 1rem;
		font-weight: var(--font-medium);
	}

	&-enjoyer {
		font-weight: var(--font-medium);
		color: var(--logo-clr);
		transition: 0.3s all ease-in-out;
	}

	&-legal {
		color: var(--title-clr);
		transition: 0.3s all ease-in-out;
	}

	&-disclaimer {
		color: var(--logo-clr);
		transition: 0.3s all ease-in-out;
		&Title {
			margin: 0;
			font-size: 0.8rem;
			font-weight: var(--font-semi-bold);
		}
	}
}
